.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2px;
}

.pagination a {
    color: #000;
    text-decoration: none;
    padding: 1px 7px;
    border-radius: 50%;
}

.pagination a.current {
    color: #fff;
    background-color: #6255a5;
}