
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/Header.cshtml";
}

<body>
    <section id="faq">
        <div class="overlay-image">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div id="tech-statement" class="text-center">
                                <h3>Freqently Asked Questions</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="heading">General Question</h1>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q1">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">What is Notes Marketplace?</p>
                            <p>
                                <a type="button" id="collapsible1" data-toggle="collapse" data-target="#answer1" style="border: 0px; padding-top: 0px;" name="q1">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer1">
                                Notes Marketplace is an online marketplace for university students to buy and sell their course notes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q2">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">
                                Where did Notes Marketplace start?
                            </p>
                            <p>
                                <a type="button" id="collapsible2" data-toggle="collapse" data-target="#answer2" style="border: 0px; padding-top: 0px;" name="q2">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer2">
                                What started out as four friends chucking around an idea in Ahmedabad ended up turning into an earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="heading">Uploaders</h1>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q3">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">Why should I upload now?</p>
                            <p>
                                <a type="button" id="collapsible3" data-toggle="collapse" data-target="#answer3" style="border: 0px; padding-top: 0px;" name="q3">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer3">
                                To maximize sales. We can't sell your notes if they are rotting on your hard drive. Your notes are available for purchase the instant they are approved, which means that you could be missing potential sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best time to upload notes is always today.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q4">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">What can't I sell?</p>
                            <p>
                                <a type="button" id="collapsible4" data-toggle="collapse" data-target="#answer4" style="border: 0px; padding-top: 0px;" name="q4">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer4">
                                We won't approve materials that have been created by your university or another third party. We also do not accept assignments, essays, practical’s or take-home exams. We love notes though.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q5">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">How long does it take to upload?</p>
                            <p>
                                <a type="button" id="collapsible5" data-toggle="collapse" data-target="#answer5" style="border: 0px; padding-top: 0px;" name="q5">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer5">
                                Uploading notes is quick and easy. It can take as little as 90 seconds per set of notes. Put it this way, in the time it took to read these FAQs, you could’ve uploaded several sets of notes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="heading">Downloaders</h1>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q6">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">How do I buy notes?</p>
                            <p>
                                <a type="button" id="collapsible6" data-toggle="collapse" data-target="#answer6" style="border: 0px; padding-top: 0px;" name="q6">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer6">
                                Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page. You can then filter results by university, category, course information etc. To purchase, go to detail page of note and click on download button. If notes are free to download – it will download over the browser and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for actual download.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q7">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">Why should I buy notes?</p>
                            <p>
                                <a type="button" id="collapsible7" data-toggle="collapse" data-target="#answer7" style="border: 0px; padding-top: 0px;" name="q7">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer7">
                                The notes on our site are incredibly useful as an educational tool when used correctly. They effectively demonstrate the techniques that top students employ in order to receive top marks. They also summaries the course in a concise format and show what that student believed were the most important elements of the course. Learn from the best.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 question q8">
                        <div class="col-md-12 col-sm-12 col-xs-12 j-space-btn">
                            <p class="question-p">
                                Will downloading notes guarantee I improve my grades?
                            </p>
                            <p>
                                <a type="button" id="collapsible8" data-toggle="collapse" data-target="#answer8" style="border: 0px; padding-top: 0px;" name="q8">+</a>
                            </p>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <p class="collapse note-detail-info" id="answer8">
                                How long is a piece of string? However, 90% of students who purchased notes through our site said that doing so improved their grades.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

